    <footer>
        <div class="container">
            <section class="contact">
                <p class="footer-title">
                    Contact
                </p>
                <p class="footer-details">
                    <p>Fornuisstraat 33</p>
                    <p>3000 Leuven</p>
                    <p>+32 471 23 45 67</p>
                    <p>info@norevad.be</p>
                </p>
            </section>
            <section class="hours">
                <p class="footer-title">
                    Openingsuren
                </p>
                <p class="footer-details">
                    <p>Lunch: 12u00 - 17u00</p>
                    <p>Diner: 19u00 - 00u30</p>
                    <p>Wekelijkse sluiting: dinsdag en woensdag</p>
                </p>
            </section>
        </div>
    </footer>
