<%- include('partials/head') %> 
<main>
    <div class="error">
        <div class="error-box">
            <p class="error-title"><%= err.message %></p>
            <!-- <p class="error-description">Oops, something went wrong. Try again or contact us.</p> -->
            <p class="error-description"><%= err.stack %></p>
        </div>
        </div>  
    </main>


</body>
</html>
