<%- include('partials/head') %> 
<main>
    <div class="error">
        <div class="error-box">
            <p class="error-title">404 - Page not Found</p>
            <p class="error-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam dolores distinctio illo facilis, ratione maiores labore dicta dignissimos itaque. Totam exercitationem autem fugiat? Excepturi, eos sequi! Voluptatum ratione at dolor.</p>
        </div>
        
<%- include('partials/footer') %> 


</body>
</html>
